#bag{
    width: 200px;
    height: 500px;
    margin: 0 auto;
    background: url(dog.jpg) center no-repeat;
    background-size: 80%;
}
#bag-health{
    width: 200px;
    border: 2px #000 solid;
    margin: 0px auto 20px auto;
}
#bag-health div{
    height: 20px;
    background: crimson;
}

#controls{
    text-align: center;
}
#controls button{
    margin: 0 10px;
}